
body {
  padding-top: 60px;
  padding-bottom: 40px;
  text-decoration: none;
}
.navbar_1{
  width: 100%;

  background: #383838;
  border-radius: 4px;

}
.person_1{
 padding-top: 5px;
}
.person_1  a{
  padding-top: 10px;
  text-align: center;
  vertical-align:middle;
}

/*左边布局*/
.well {
  background-color: #FFFFCC;
  padding-bottom: 100%;
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.nav .nav-header {
  font-size: 18px;
  color:#92B901;
}
/*右上方部分*/
.leaderboard {

  padding: 40px;
  margin-bottom: 30px;
  background-image: url('img/bg-right.jpg');
  background-size: 100%;
  background-repeat:no-repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
/*.info_1:个人信息*/
.info_1{

  color: #330000;
}
/*.info_1:姓名*/
.info_1 .name_1{
 font-size: 25px;
 font-weight: weight
 word-spacing:5px;
 height:10px;
 line-height: 3;
 letter-spacing: 5px;

}
/*.content右下方布局*/
.content{

  background-color: #99CC99;
  background-repeat:repeat;

  padding-bottom:70%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
/*右下方导航栏*/
.content .nav >li>a{
  color: #330000;
  font-size:20px;
}
.content .nav >li>a:hover{
  color:000000;
  opacity: 0.6;
}
/*个人信息*/
.per_information{

  border:2px solid #000033;
  margin: 25px 50% 25px 25px;
  border-radius: 5px;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-top: 5%;
  /*-webkit-filter: blur(10px);模糊化*/
}
.per_information p,.modify-form{

  font-size:160%;
  font-weight: normal;
  word-spacing:5%;
  height:10%;
  
  letter-spacing: 5%;
  padding-bottom: 3%;
  padding-top: 5%;
  margin-left: 13%;
}
.per_information button{

  margin-top: 5%;
  height: 40px;
  width: 35%;
  margin-left: 16%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 130%;
  border: 2px solid #008CBA;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.per_information button:hover {
  background-color: #008CBA;
  color: white;
  opacity:0.45;
}
}/*个人信息*/

.modal-footer_1{
  padding-right:38%;
}
/*收藏夹*/
.favorite_1{
  padding-left: 5%;

}
.favorite_1 img{
  border-radius: 5px;
}
.favorite_1 img:hover{
  width:60%;
}
