
.per_information{

 background-color: rgba(0,0,0,0.25);
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
 color: #ffffff;

padding-bottom: 40px;
text-align: center;

}
.per_information li,.modify-form{
padding-right: 10%;
  font-size:20px;
  font-weight: normal;
  word-spacing:2%;
  letter-spacing: 5%;
  padding-top: 4%;

}
.per_information button{

  
  height: 40px;
  width: 20%;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 padding-top: 5px;
  border: 1px solid rgba(254, 182, 203, 0.5);
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}

.per_information button:hover {
  background-color: rgba(0,0,0,0.4);

  
}

.model_1{
	margin-top: 100px;
padding-bottom: 30px;
	width: auto;

}
.model-header_1{

    border-radius: 5px;
    background-image: url(../../image/personal/pic3.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
.model-header_1 h4{
    color: black;
font-weight: 600;
}
.model-header_1 .close{
color: black;
font-weight: 600;
}
.model-content_1{

    background-image: url(../../image/personal/pic3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.model-content_1 form{
    color: black;
    font-weight: 600;
    border-radius: 5px;
}
.model-content_1 form>div>input{
    background:transparent;
    color: black;
    opacity: 0.6;

    border:1.5px solid  #256347;
    border-radius: 3px;
    vertical-align: left;

}
/*myfavorites*/

.image-row {
 *zoom: 1;
	margin-bottom: 20px;
}

.image-row:after {
	content: "";
	display: table;
	clear: both;
}

.example-image-link {
	display: inline-block;
	margin: 0 10px 20px -14px;
	line-height: 0;
	border: 4px solid #f59898;
}

.example-image-link:hover {
	border: 4px solid #713f58;
}

.example-image {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.friend,.tizi{
	background-color: rgba(0,0,0,0.10);
	margin: 6px 50px 6px 10px;
	padding: 6px 50px 6px 20px;
	border-radius: 4px;
	border-left: 5px solid #CC9999;

}
.friend:hover,.tizi:hover{
background-color: rgba(0,0,0,0.20);
border:2px solid ##CC9999;
}
.tizi a{
	font-size: 20px;
}
.friend a{
	top: 8px;
	font-size: 20px;
}

/*mymessage*/

.timeline-messages:before {    
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);    
	bottom: 0;    top: 0;    width: 2px;
}
.timeline-messages:before, 
.msg-time-chat:before, 
.msg-time-chat 
.text:before {    
	content: "";    
	left: 58px;    
	position: absolute;    
	top: -2px;
}
.timeline-messages, 
.msg-time-chat, 
.timeline-messages .msg-in, 
.timeline-messages .msg-out {    
	position: relative;
}
.timeline-messages .msg-in .arrow {   
   border-right: 8px solid rgba(0,0,0,0.2) !important;
}
.timeline-messages .msg-in .arrow {    
	border-bottom: 8px solid rgba(0, 0, 0, 0);    
	border-top: 8px solid rgba(0, 0, 0, 0);    
	display: block;    height: 0;    
	left: -8px;   
	position: absolute;    
	top: 13px;    
	width: 0;}
.timeline-messages .msg-out .arrow {    
	border-right: 8px solid rgba(0,0,0,0.5) !important;
}
.timeline-messages .msg-out .arrow {    
	border-bottom: 8px solid rgba(0, 0, 0, 0);    
	border-top: 8px solid rgba(0, 0, 0, 0);    
	display: block;    
	height: 0;    
	left: -8px;    
	position: absolute;    
	top: 13px;    
	width: 0;
}
.msg-time-chat:first-child:before {    
	margin-top: 16px;
}
.msg-time-chat:before {    
	background:rgba(255,255,255,0.2);    
	border: 2px solid rgba(255,255,255,0.55);    
	border-radius: 100px 100px 100px 100px;    
	height: 10px;    
	margin: 23px 0 0 -4px;   
	width: 10px;}
.msg-time-chat:hover:before {   
	background:rgba(0,0,0,0.5);
}
.msg-time-chat:first-child {    
	padding-top: 0;
}
.message-img {    
	float: left;    
	margin-right: 30px;    
	overflow: hidden;
}
.message-img img {    
	display: block;    
	height: 44px;    
	width: 44px;
}
.message-body {    
	margin-left: 80px;
}
.msg-time-chat .msg-in .text {    
	background: rgba(0,0,0,0.2);   
	 padding: 10px;
	}
.msg-time-chat .msg-out .text {    
	background:rgba(0,0,0,0.5);    
	padding: 10px;
}
.msg-time-chat p {    
	color: #fff;    
	margin: 0;
}
.msg-time-chat .attribution {    
	color: #ccc;    
	font-size: 11px;    
	margin: 0 0 5px;
}
.msg-time-chat {    
	overflow: hidden;    
	padding: 8px 0;
}
.msg-in a, 
.msg-in a:hover {    
	background:rgba(255,255,255,0.2);    
	color: #FFFFFF;    
	padding: 2px 4px;    
	text-decoration: none;
}
.msg-out a, 
.msg-out a:hover {    
	background:rgba(0,0,0,0.3);    
	color: #FFFFFF;    
	padding: 2px 4px;    
	text-decoration: none;
}

.chat-form {    
	background-color: rgba(0,0,0,0.2);    
	clear: both;    
	margin-top: 15px;    
	padding: 10px;
}
.chat-form .input-cont {    
	margin-right: 55px;
}
.chat-form .input-cont input 
{    margin-bottom: 0;
}
.chat-form .input-cont input {    
	border: 1px solid rgba(255,255,255,0.2) !important;    
	border-radius: 0 0 0 0;    
	margin-top: 0;    
	width: 94%;
}
.chat-form .input-cont input {    
	background-color:rgba(0,0,0,0.2) !important;
}
.chat-form .input-cont input:focus {    
	border: 1px solid rgba(255,255,255,0.2) !important;
}
.chat-form .btn-cont {    
	float: right;    
	margin-top: -38px;    
	position: relative;
}
.chat-form .btn-cont .btn {    
	border-radius: 0 0 0 0;    
	margin-top: 8px;
}
